<footer class="footer">
  <small>
    <a href="http://johnyangsam.com">John YS's test application</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://twitter.com/JohnYangSam">Twitter</a></li>
    </ul>
  </nav>
</footer>
