<!-- "header", "nav", and "section" are special html5 attributes
that can be used in the place of some divs -->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!-- the "id" is literally a standard html id
      link_to takes arguments(text, URI, options_hash)-->

      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to("Home", '#')%></li>
          <li><%= link_to("Help", '#')%></li>
          <li><%= link_to("Sign in", '#')%></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

